/* Button.css */

.button {
    background: #ccc;
    border: 1px solid #828c93;
    border-radius: 4px;
    color: #777;
    font-size: 14px;
    padding: 6px 10px;
    margin: 5px;
    cursor: pointer;
}

.button:hover {
    background: #858585;
    border: 1px solid #333;
    color: #fff;
}

.fa {
    margin-right: 10px;
}

.primary {
    background: #0275d8 !important;
}

.success {
    background: #5cb85c!important;
}

.info {
    background: rgb(25, 144, 255)
}

.warning {
    background: rgb(25, 144, 255)
}

.danger {
    background: rgb(25, 144, 255)
}

.inverse {
    background: rgb(25, 144, 255)
}

.faded {
    background: rgb(25, 144, 255)
}
