/* login-button.css */

.login-button {
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    text-align: left;
    width: 220px;
    margin: 5px;
    padding: 0;
}

.login-button i {
    border-right: 1px solid #000;
    padding: 0 10px;
    height: 35px;
    width: 15px;
    line-height: 35px;
    text-align: center;
}

.login-button .btn-text {
    padding: 0 10px;
}


.facebook {
    background: #3a589a;
    border-color: #2e457b;
}

.google {
    background: #df4a33;
    border-color: #b93d2a;
}

.twitter {
    background: #51aaf1;
    border-color: #4594d0;
}

.github {
    background: #444444;
    border-color: #373737;
}
