.App {
    text-align: center;
    margin: 10px auto;
    width: 100%;
}

.App-logo {
	height: 80px;
}

.App-header {
	background-color: #222;
	color: #000;
	height: 150px;
	padding: 20px;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}
